body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
}

h1,
h2 {
  text-align: center;
}

form fieldset {
  margin-bottom: 20px;
}

form legend {
  font-weight: bold;
}

form label {
  display: block;
  margin-bottom: 5px;
}

button {
  margin-top: 10px;
  margin-left: 23px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#recommendation,
#preview {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
}

#recommendation .image-container,
#preview .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#recommendation img,
#preview img {
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 0px;
}

#recommendation p,
#preview p {
  margin-bottom: 10px;
}
