body {
  margin: 0px;
}

a {
  color: white;
  text-decoration: none;
}

.tabs {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
}

.tabs li {
  display: inline-block;
  padding: 30px;
  cursor: pointer;
}
.tabs li:hover {
  background: white;
  color: black ;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
  padding: 16px;
  width: 80%;
  margin: 32px auto;
}

.event-item {
  margin: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.event-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.event-item button {
  display: inline-block;
  margin: 0px 10px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.event-item button.remove {
  background-color: #ff0000;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

#calendar {
  font-family: Arial, sans-serif;
  width: 100%;
  display: none;
}

#calendar .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#calendar .month .prev,
#calendar .month .next {
  cursor: pointer;
}

#calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

#calendar .day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  cursor: pointer;
  border: black solid;
}

#calendar .day.selected {
  background-color: #2196f3;
  color: #fff;
}

#calendar .day:hover {
  background-color: #e0e0e0;
}